<!-- Navigation -->
<nav class="navigation">

    <a href="" class="navigation__logo"></a>

    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="{{ site.baseurl }}/" class="navigation__link">
                Home
            </a>
        </li>
        <li class="navigation__item">
            <a href="{{ site.baseurl }}/projects" class="navigation__link">
                Projects
            </a>
        </li>
        <li class="navigation__item">
            <a href="{{ site.baseurl }}/contact" class="navigation__link">
                Contact
            </a>
        </li>
    </ul>
</nav>