/////////////////////////////////////
//// VARIABLES

// COLORS
$primary-color: #f0fff0;
$secondary-color: #8DFF8D;

$color-white: #eee;
$color-black: #0f000f;

// TEXT
$color-text-dark: #0f000f;
$color-text-light: #eee;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;